.menu-sidebar-left2 {
  width: 351px;
  height: 1080px;
}

.logo{
  width: 345.07px;
  height: 190px;  
}

.menu-panel{
  width: 350px;
  height: 1080px;
  left: 1px;
  background: #53A856;
}

.sidebar-navigation-btn{
  margin: 0 auto;
  width: 281.42px;
  height: 860px;
  top: 190px;
  left: 29.58px;
}

.dashboard-nav-btn{
  width: 280px;
  height: 60px;
  top: 180px;
  left: 30px;
  margin-bottom: 30px;
}

.dashboard{
  display: flex;
  align-items: center;
  width: 280px;
  height: 60px;
  top: 190px;
  left: 31px;
  border-radius: 10px;
  border: none;
  opacity: 40%;
  background: #EFEFEF;
}

.dashboard-layout{
  width: 39.44px;
  height: 43.64px;
  top: 198px;
  left: 44.37px;
  margin: 0 10px;
}

.dashboard-text{
  width: 198px;
  height: 43px;
  top: 199px;
  left: 98px;
  font-family: Poppins;
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.items-nav-btn{
  width: 280px;
  height: 60px;
  top: 290px;
  left: 31px;
  margin-bottom: 30px;
}

.search{
  display: flex;
  align-items: center;
  width: 280px;
  height: 60px;
  top: 290px;
  left: 31px;
  border-radius: 10px;
  border: none;
  opacity: 40%;
  background: #EFEFEF;
}

.product{
  width: 39.44px;
  height: 43.64px;
  top: 298px;
  left: 44.37px;
  margin: 0 10px;
}

.inventory{
  width: 143.94px;
  height: 43px;
  top: 299px;
  left: 97.61px;
  font-family: Poppins;
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.reports-nav-btn{
  width: 281.42px;
  height: 660px;
  top: 390px;
  left: 29.58px;
}

.reports-btn{
  width: 280px;
  height: 60px;
  top: 990px;
  left: 29.58px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.reports{
  display: flex;
  align-items: center;
  width: 280px;
  height: 60px;
  top: 390px;
  left: 31px;
  border-radius: 10px;
  border: none;
  opacity: 40%;
  background: #EFEFEF;
}

.reports-text{
  width: 119.3px;
  height: 43px;
  top: 399px;
  left: 97.61px;
  font-family: Poppins;
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.combo-chart{
  width: 39.44px;
  height: 43.64px;
  top: 398px;
  left: 44.37px;
  margin: 0 10px;
}

.suppliers{
  display: flex;
  align-items: center;
  width: 280px;
  height: 60px;
  top: 480px;
  left: 31px;
  border-radius: 10px;
  border: none;
  opacity: 40%;
  background: #EFEFEF;
  margin-bottom: 440px; /*check again*/
  padding-left: 65px;
}

.suppliers-text{
  width: 119.3px;
  height: 43px;
  top: 487px;
  left: 99px;
  font-family: Poppins;
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.signout-btn{

}

.signout{
  display: flex;
  align-items: center;
  width: 280px;
  height: 60px;
  top: 990px;
  left: 29.58px;
  border-radius: 10px;
  border: none;
  opacity: 40%;
  background: #EFEFEF;
}

.shutdown{
  width: 30px;
  height: 30px;
  top: 1005px;
  left: 40px;
  margin: 0 10px;
}

.signout-text{
  width: 119.3px;
  height: 43px;
  top: 998px;
  left: 89.72px;
  font-family: Poppins;
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}