.register-form{
text-align: center;
font-family: Poppins;
color: #4F5366;
}

.input-register{
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 5px solid #53A856;
  margin-bottom: 30px;
}

.btn-register{
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 5px solid #53A856;
  margin-bottom: 30px;
}