.inventory-summary-dashboard{
  width: 770px;
  height: 230px;
  top: 190px;
  left: 781px;
  margin: 0 auto;
}

.inventory-summary-text{
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000; 
}

.rectangles{
  display: flex;
}

.rectangle{
  width: 170px;
  height: 170px;
  border-radius: 10px;
/* da se proveri za pikselite */
  box-shadow: 3px 4px 4px 0px #00000040;
  margin: 0 auto;
}

.elipse1{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FFE4AA;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.elipse2{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #C8E6EE;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /*da se proba pak so translate: transform*/
}

.elipse3{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #E5CAFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.elipse4{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FFD5C0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.img-folder, .img-documents, .img-paper, .img-coins{
  width: 30px;
  height: 30px;
}

.num{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #4F5366;
}

.text{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #4F5366;
}

@media (max-width: 768px) {
  .inventory-summary {
    width: 100%;
    height: auto;
  }

  .rectangle {
    width: 100%;
    height: auto;
  }

  .elipse {
    width: 100%;
    height: auto;
  }

  .img-folder,
  .img-documents,
  .img-paper,
  .img-coins {
    width: 100%;
    height: auto;
  }

  .num {
    font-size: 16px; 
  }

  .text {
    font-size: 12px;
  }
}