.inventory-summary-main{
  width: 1470px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.inventory-summary-container{
  width: 890px;
  height: 39px;
  top: 236px;
  left: 491px;
  margin-left: 140px;
  display: flex;
}

.inventory-summary-container p{
  width: 222.5px;
  height: 39px;
  display: flex;
  font-size: 22px;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #3E4153;
}

.item-show{
  width: 90px;
  height: 77px;
  top: 220px;
  left: 1810px;
}

.control-panel-btn, .list-btn{
  border: none;
  background-color: #EAEAEA;
}

.control-panel-btn:hover, .list-btn:hover{
  cursor: pointer;
}

