.line-activity{
  width: 100%;
  max-width: 1530px;
  border: 2px solid #5C5C5C;
  margin-left: 50px;
}

.main-container-activities{
  width: 100%;
  max-width: 1530px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 50px;
}