.header-section{
  width: 100%;
  height: 100%;
}

.logo{
  width: 100%;
  max-width: 345.07px;
  max-height: 190px;  
}

.login-section{
  background: #53A856;
}

.register-section{
 background: white;
}

@media only screen and (max-width: 768px){
  .header-section{
    width: 100%;
    height: auto;
  }
}