.search-add-main{
  width: 1470px;
  height: 100px;
  margin-left: 75px;
  display: flex;
  justify-content: space-between;
}

.add-category{
  width: 230px;
  height: 60px;
}

.add-category-btn{
  width: 230px;
  height: 60px;
  top: 130px;
  left: 1671px;
  border-radius: 10px;
  background: #53A856;
  box-shadow: 3px 3px 4px 0px #00000040;
  border: none;
}