*{
  font-family: Poppins;
}

.menu-panel{
  width: 100%;
  height: 100%;
  max-width: 350px;
  max-height: 1080px;
  background: #53A856;
}

.logo{
  width: 100%;
  max-width: 345.07px;
  max-height: 190px;  
}

.sidebar-navigation-btn{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 281.42px;
  max-height: 860px;
}

.dashboard-btn,
.items-nav-btn,
.reports-btn,
.suppliers-btn,
.signout-btn{
  width: 100%;
  height: 100%;
  max-width: 280px;
  max-height: 60px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
}

.menu-panel h1{
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.dashboard-img,
.product,
.combo-chart,
.shutdown{
  width: 100%;
  height: 100%;
  max-width: 39.44px;
  max-height: 43.64px;
  margin: 0 10px;
}

.link-dashboard,
.link-inventory,
.link-reports,
.link-suppliers,
.link-signout{
  text-decoration: none;
}

.reports-nav-btn{
  width: 100%;
  height: 100%;
  max-width: 281.42px;
  max-height: 660px;
}

.suppliers-btn{
  margin-bottom: 300px; /*check again*/
  padding-left: 65px;
}

@media only screen and (max-width: 768px) {
  .menu-panel{
    width: 100%;
    height: auto;
  }

  .sidebar-navigation-btn{
    width: 100%;
    height: auto;
  }
}