  .login-form{
    text-align: center;
    color: #4F5366;
  }
  
  .input-login{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    box-shadow: 4px 4px 4px 0px #00000040;
    padding-left: 30px;
  }
  
  .btn-login{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    background-color: #4F5366;
    color: #53A856;
    margin-bottom: 30px;
    border: none;
    box-shadow: 4px 4px 4px 0px #00000040;
    font-size: 20px;
    font-weight: 800;
  }

  .btn-login:hover{
    background-color: white;
    color: #4F5366;
  }