.top-section-suppliers{
  width: 100%;
  max-width: 1628px;
}

.search-add-suppliers{
  width: 1470px;
  margin: 20px 0 20px 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-supplier-btn{
  width: 230px;
  height: 60px;
  border-radius: 10px;
  background: #53A856;
  box-shadow: 3px 3px 4px 0px #00000040;
  border: none;
}