.dashboard-page{
  width: 100%;
  height: 100%;
  max-width: 1980px;
  max-height: 1080px;
  display: flex;
  background-color: #EAEAEA;
}

@media only screen and (max-width: 768px){
  .dashboard-page{
    width: 100%;
    height: auto;
  }

  .frame9{
    width: 100%;
    height: auto;
  }
}